#vld-tooltip {
    position: absolute;
    z-index: 1000;
    padding: 5px 10px;
    background: #F37B1D;
    min-width: 150px;
    color: #fff;
    transition: all 0.15s;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    display: none;
}

#vld-tooltip:before {
    position: absolute;
    top: -8px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -8px;
    content: "";
    border-width: 0 8px 8px;
    border-color: transparent transparent #F37B1D;
    border-style: none inset solid;
}
.scrollspy-nav{
    top: 0;
    z-index: 100;  /*在position属性为relative, absolute或者fixed的时候有效，大的在上面*/
    background: #0e90d2;
    width: 100%;
    padding: 0 10px;
}
.scrollspy-nav ul{
    margin: 0;
    padding: 0;
}
.scrollspy-nav li{
    display: inline-block;
    list-style: none;
}
.scrollspy-nav a{
    color: #eee;
    padding: 10px 20px;
    display: inline-block;
}

.scrollspy-nav a.am-active {
    color: #fff;
    font-weight: bold;
}

.am-panel {
    margin-top: 20px;
}

.am-tabs-nav li {
    position: relative;
    z-index: 1;
}

.am-tabs-nav .am-icon-close {  /*这里对'x'的位置进行了定义*/
    position: absolute;
    top: 0;
    right: 10px;
    color: #888;
    cursor: pointer;
    z-index: 100;
}

.am-tabs-nav .am-icon-close:hover {
    color: #333;
}

.am-tabs-nav .am-icon-close ~ a {
    padding-right: 25px!important;
}

.magic-line1{
    width: 100px;
    background-color: #00AA00;
    height: 1px;
}

.magic-line2{
    height: 100px;
    width: 1px;
    background-color: #00AA00;
}

.magic-button{
    position: relative;
    left: 200px;
    bottom: 20px;
}